{% extends "layout.html" %}
{% block content %}
     <section>
        <div class="container">
            <h1>PRIOTASK</h1>
            <span id="italic">productive focus</span>
            <div class="panel">
                <p id="pomodoro" class="selected">Pomodoro</p>
                <p id="shortbreak" class="selected">Short break</p>
                <p id="longbreak" class="selected">Long Break</p>
            </div>
            <div class="timer">
                <div class="circle">
                    <div class="time">
                        <p id="minutes"></p>
                        <p>:</p>
                        <p id="seconds"></p>
                    </div>
                </div>
            </div>
            <div class="controls">
                <button id="start" >Start</button>
                <button id="pause">Pause</button>
                <button id="stop">Stop</button>
            </div>
        </div>
       
    </section>
{% endblock content %}
